#box1 {
    background-color: red;
    padding: 15vh;
    border: 5px solid black;
  }

  #box2 {
    background-color: blue;
    padding: 15vh;
    border: 5px dashed rgb(191, 238, 49);
  }

  #box3 {
    background-color: greenyellow;
    padding: 15vh;
    border-top: 5px solid blue;
    border-left: 5px solid pink;
    border-right: 5px solid pink;
    border-bottom: 5px solid orange;
  }

  h1, h2, h3 {
    margin-top: 15px;
    text-align: center;
  }

  d-flex{
    width: 80vw;
  }
